<a href="https://colab.research.google.com/github/drshahizan/python-tutorial/blob/main/lab/submission/Truth_Archieve/lab1/lab1a_by_hazem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1a - Understanding Your Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.



### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv', sep='\t', index_col='order_id')

### Step 4. See the first 10 entries

In [ ]:
first10= data.head(10)
print(first10)

          quantity                              item_name  \
order_id
1                1           Chips and Fresh Tomato Salsa
1                1                                   Izze
1                1                       Nantucket Nectar
1                1  Chips and Tomatillo-Green Chili Salsa
2                2                           Chicken Bowl
3                1                           Chicken Bowl
3                1                          Side of Chips
4                1                          Steak Burrito
4                1                       Steak Soft Tacos
5                1                          Steak Burrito

                                         choice_description item_price
order_id
1                                                       NaN     $2.39
1                                              [Clementine]     $3.39
1                                                   [Apple]     $3.39
1                                                       NaN     $2.39
2         [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
3         [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
3                                                       NaN     $1.69
4         [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
4         [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
5         [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1

num_observation=data.shape[0]
print("n of observers are:", num_observation)

n of observers are: 4622

In [ ]:
# Solution 2

num_observation=len(data)
print("n of observers are:", num_observation)

n of observers are: 4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
num_column=data.shape[1]
print("N of columns are:", num_column)

N of columns are: 4

### Step 7. Print the name of all the columns.

In [ ]:
column_names=data.columns
print("Column names are:")
for c in column_names:
  print(c)

Column names are:
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [ ]:
index_info=data.index
print("Index of the dataset:", index_info)

Index of the dataset: Int64Index([   1,    1,    1,    1,    2,    3,    3,    4,    4,    5,
            ...
            1831, 1831, 1831, 1832, 1832, 1833, 1833, 1834, 1834, 1834],
           dtype='int64', name='order_id', length=4622)

### Step 9. Which was the most-ordered item?

In [ ]:
most_item=data['item_name'].value_counts().idxmax()
print("most orderd item is: ", most_item)

most orderd item is:  Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
count_most_order=data['item_name'].value_counts().max()
print("number of itme orderd is: ", count_most_order)

number of itme orderd is:  726

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
most_item_inchoice=data['choice_description'].value_counts().idxmax()
print("most orderd item in choice description is: ", most_item_inchoice)

most orderd item in choice description is:  [Diet Coke]

### Step 12. How many items were orderd in total?

In [ ]:
total_items=data['item_name'].value_counts().sum()
print("total number of items sold is: ", total_items)

total number of items sold is:  4622

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
price_type= data['item_price'].dtype
print("itemdatatype is: ", price_type)

itemdatatype is:  object

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
data['item_price'] = data['item_price'].apply(lambda x: float(x.replace(' ','').replace('$','')))

#### Step 13.c. Check the item price type

In [ ]:
price_type= data['item_price'].dtype
print("itemdatatype is: ", price_type)

itemdatatype is:  float64

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
data['total_price'] = data['quantity'] * data['item_price']
total_revenue=data['total_price'].sum()
print("total revenue is: ", total_revenue)

total revenue is:  39237.02

In [ ]:
print(data.columns)

Index(['quantity', 'item_name', 'choice_description', 'item_price',
       'total_price'],
      dtype='object')

### Step 15. How many orders were made in the period?

In [ ]:
total_orders=data.index.nunique()
print("total orders: ", total_orders)

total orders:  1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
average_per_order= total_revenue/total_orders
print("average reveinu is: ", average_per_order)

average reveinu is:  21.39423118865867

In [ ]:
# Solution 2
average_per_order =(data['quantity'] * data['item_price']).sum() /(data.index.nunique())
print("average reveinu is: ", average_per_order)

average reveinu is:  21.39423118865867

### Step 17. How many different items are sold?

In [ ]:
diffrent_items = data['item_name'].nunique()
print("Total number of diffrent items is: ", diffrent_items)

Total number of diffrent items is:  50